.navbar-bottom {
    background-color: var(--black-color-transparency);
    overflow: hidden;
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: -1px;
    z-index: 1000;
    /* Ensure it stays on top */
}


.navbar-sections-bottom {
    width: 90%;
    margin: auto;
    padding: 25px 0px 25px 0px;
    justify-content: space-between;
    display: flex;
}

.navbar-bottom img {
    width: 170px;
    /* margin: 0px 0px 0px 15px; */
    cursor: pointer;
}

.page-sections {
    display: flex;
    align-items: center;
}

.page-sections ul {
    display: flex;
    gap: 40px;
}

.page-sections li {
    text-align: center;
    width: 100px;
    list-style: none;
    color: white;
    font-weight: 300;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    /* font-size: 17px; */
    position: relative;
}

.page-sections li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -38px;
    width: 0%;
    height: 10px;
    background-color: white;
    transition: 0.3s ease-in-out;
    border-radius: 20px 20px 0% 0%;
}

.page-sections li:hover::after,
.page-sections li.active::after {
    width: 100%;
}

.navbar-bottom button {
    border: 1px solid var(--gold-color);
    width: 150px;
    font-weight: 300;
    background-color: var(--gold-color);
    padding: 7px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.navbar-bottom button:hover {
    background-color: transparent;
    scale: 105%;
}

.fa-bars {
    display: none;
}


@media (max-width:1400px) {
    .page-sections ul {
        gap: 20px;
    }
}

@media (max-width:1200px) {
    .page-sections ul {
        gap: 0px;
    }


    .navbar-bottom img {
        width: 140px;
    }

}

@media (max-width:1000px) {
    .page-sections ul {
        gap: 5px;
    }

    .navbar-bottom img {
        display: none;
    }

    .navbar-bottom button {
        min-width: 110px;
    }

}

@media (max-width:750px) {

    .page-sections {
        display: flex;
        align-items: right;
    }

    .navbar-bottom img {
        display: list-item;
        width: 140px;
    }

    .page-sections ul {
        display: flex;
        gap: 40px;
    }

    .page-sections li {
        /* display: flex; */
        margin: 0px 15% 0px 0px;
        font-size: 0px;
        width: 65px;
        text-align: left;
        /* background-color: rgb(108, 108, 108); */
    }

    .navbar-bottom img {
        margin: 0px 0px 0px 15px;
    }


    /* Menu icon */
    .fa-bars {
        display: flex;
        right: 100px;
        color: white;
        cursor: pointer;
        align-items: center;
        font-size: 22px;
        transition: 0.3s ease-in-out;
        z-index: 3;
    }

    /* Mobile Menu */

    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 150px;
        background-color: rgba(0, 0, 0, 0.359);
        backdrop-filter: blur(10px);
        justify-content: center;
        align-items: center;
        /* z-index: 2; */
        /* transform: translateX(100%); */
        /* transition: transform 0.3s ease-in-out; */
    }

    .navbar-menu.open {
        animation: slideIn 1s forwards;
        transform: translateX(0);
    }

    .navbar-menu.closed {
        animation: slideOut 1s forwards;
        transform: translateX(0);
    }

    /* ====================Slide in and out */
    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes slideOut {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    

    /* IN CASE YOU DONT WANT TO OPEN MENU AUTOMATICALLY
      SET THE USESTATE FROM TRUE TO FALSE AND WRITE THIS CODE IN CSS
      
    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 150px;
        background-color: rgba(0, 0, 0, 0.359);
        backdrop-filter: blur(10px);
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 1s ease-in-out;
    }

    .navbar-menu.open {
        transform: translateX(0);
    }

    .navbar-menu.closed {
        transform: translateX(-100%);
    } */

    .page-sections li::after {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 0%;
        height: 2px;
        background-color: white;
        transition: 0.3s ease-in-out;
        border-radius: 8px 8px 0% 0%;
    }

    .page-sections li:hover::after,
    .page-sections li.active::after {
        width: 100%;
    }
}