.navbar-bottom {
    background-color: var(--black-color-transparency);
}

.navbar-sections-bottom {
    width: 80%;
    margin: auto;
    padding: 25px 0px 25px 0px;
    justify-content: space-between;
    display: flex;
}

.navbar-bottom img {
    width: 170px;
    margin: 0px 100px 0px 0px;
    cursor: pointer;
}

.page-sections {
    display: flex;
    align-items: center;
}

.page-sections ul {
    display: flex;
    gap: 80px;
}

.page-sections li {
    list-style: none;
    color: white;
    font-weight: 300;
    align-items: center;
    cursor: pointer;
}

.navbar-bottom button {
    border: 1px solid var(--gold-color);
    width: 150px;
    font-weight: 300;
    background-color: var(--gold-color);
    padding: 7px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.navbar-bottom button:hover {
    background-color: transparent;
    scale: 105%;
}