.hotel-footer {
    display: flex;
    flex-direction: column;
    height: 55vh;
    margin: auto;
    background-color: var(--dark-grey);
    overflow: hidden;
}

.hotel-footer-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 40px 60px;
}

.hotel-footer-section-info {
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}


.hotel-footer-section_copyright {
    height: 10vh;
    background-color: var(--gold-color);
}

.phone-support,
.connect-with-us,
.news-letter {
    justify-content: space-between;
}

.phone-support h1,
.connect-with-us h1,
.news-letter h1 {
    color: white;
    font-size: 25px;
    font-weight: 400;

}

.phone-support h2,
.connect-with-us h2,
.news-letter h2 {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin: 0px 0px 52px 0px;
}

.phone-support p,
.connect-with-us p {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.connect-with-us-icons {
    display: flex;
    gap: 20px;
}

.connect-with-us-icons .fa-brands {
    font-size: 35px;
    color: var(--gold-color);
    transition: 0.5s ease-in-out;
}

.connect-with-us-icons .fa-brands:hover {
    color: var(--gold-color);
    border: none;
}

.fa-brands:hover {
    rotate: 360deg;
}

.news-letter-input input {
    width: 300px;
    padding: 8px;
    border: 1px solid white;
    background-color: white;
    outline: none;
}

.news-letter-input button {
    border: 1px solid var(--gold-color);
    font-size: 15px;
    font-weight: 300;
    width: 8vw;
    padding: 8px;
    color: white;
    background-color: var(--gold-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.news-letter-input button:hover {
    background-color: var(--dark-grey);
    scale: 105%;
}

.hotel-footer-section_copyright {
    width: 100%;
    display: flex;
}

.hotel-footer-section_copyright p {
    margin: auto;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-grey);
}

@media (max-width: 1300px) {

    .hotel-footer-section {
        display: flex;
        margin: 0px auto 0px auto;
    }

    .hotel-footer-section-info {
        width: 90%;
    }

    .news-letter-input button {
        width: 100%;
    }

    .news-letter-input input {
        width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 900px) and (max-width: 1100px) {
    .hotel-footer-section-info {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 60px;
    }
}

@media (max-width: 900px) {

    .hotel-footer-section-info {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 60px;
    }

    .hotel-footer {
        display: flex;
        /* flex-direction: column; */
        height: 100%;
        margin: auto;
        background-color: var(--dark-grey);
    }

    .news-letter-input button {
        width: 300px;
    }

    .news-letter-input input {
        width: 300px;
        text-align: center;
    }

    .phone-support h2,
    .connect-with-us h2,
    .news-letter h2 {
        margin: 0px 0px 30px 0px;
    }

    .hotel-footer-section_copyright p{
        font-size: 14px;
    }
}