.about-us {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(238, 247, 255); */
    width: 100%;
    height: 100%
}

.about-us-container {
    width: 85%;
    margin: 100px auto 100px auto;
    background-color: rgb(214, 110, 110);
}

.section-01 {
    display: flex;
    width: 100%;
    height: 400px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.363);
    overflow: hidden;
}

.banner-info {
    position: relative;
    z-index: 1;
}

.banner-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.banner-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-info {
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px auto;
    justify-content: center;
    gap: 30px;
}

.banner-info h1 {
    font-size: 50px;
    font-family: 'CamptonBook', sans-serif;
    text-align: center;
    color: white;

}

.banner-info p {
    display: flex;
    text-align: center;
    /* background-color: aliceblue; */
    margin: 0px auto 0px auto;
    width: 50%;
    font-weight: 300;
    color: white;
    justify-content: center;
}

.banner-info button {
    display: flex;
    border: 1px solid var(--gold-color);
    width: 200px;
    font-family: 'CamptonLight', sans-serif;
    margin: 0px auto 0px auto;
    background-color: rgba(0, 0, 0, 0.297);
    padding: 12px 7px;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.banner-info button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    scale: 105%;
}

.fa-arrow-right {
    margin: 0px 20px 0px 20px;
    font-size: 10px;
    color: var(--gold-color);
}

/* ========================= section-02 */

.section-02 {
    width: 100%;
    height: 100%;
    background-color: var(--light-grey);
    margin: 0px auto 0px;
}

.section-02-container {
    margin: 100px auto 100px;
}

.section-02-content {
    display: flex;
    width: 80%;
    height: 700px;
    margin: 0px auto;
    /* background-color: rgb(209, 176, 133); */
    /* gap: 20px; */
}

.section-02-content-photo {
    width: 50%;
    height: 100%;
}

.section-02-content-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-02-content-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 150px 40px;
    justify-content: space-between;
    background-color: white;
}

.ticks {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 0px;

}

.tick-01,
.tick-02,
.tick-03 {
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.tick-01 p,
.tick-02 p,
.tick-03 p {
    color: var(--grey-dark);
}

.fa-circle-check {
    color: var(--gold-color);
    margin: 0px 10px 0px 0px;
}

.section-02-content-info h1 {
    font-size: 50px;
    font-family: 'CamptonBook', sans-serif;
    color: var(--gold-color);
}

.section-02-content-info h2 {
    font-size: 15px;
    font-family: 'CamptonLight', sans-serif;
    color: var(--gold-color);
}

.section-02-content-info p {
    color: var(--grey-color);
    font-weight: 300;
}

.section-02-content-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gold-color);
    width: 170px;
    font-family: 'CamptonLight', sans-serif;
    background-color: var(--gold-color);
    padding: 7px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    gap: 20px;
}

.section-02-content-info button:hover {
    background-color: transparent;
    color: var(--grey-dark);
    scale: 105%;
}

.section-02-content-info .fa-arrow-right {

    color: white;
    padding: 2px 0px 0px 0px;
    margin: 0px;
}

.section-02-content-info button:hover .fa-arrow-right {
    color: var(--hover-color);
    /* Change this to the color you want on hover */
}

/* ========================= section-03 */

.section-03 {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    /* background-color: rgb(146, 72, 72); */
}

.section-03-container {
    margin: 0px auto 0px;
    /* background-color: aliceblue; */
}

.section-03-content {
    display: flex;
    width: 100%;
    height: 700px;
    margin: 0px auto;
}

.section-03-content-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 200px 40px;
    justify-content: space-between;
    /* background-color: white; */
}

.section-03-content-info h1 {
    font-size: 50px;
    font-family: 'CamptonBook', sans-serif;
    color: var(--gold-color);
}

.section-03-content-info h2 {
    font-size: 15px;
    font-family: 'CamptonLight', sans-serif;
    color: var(--gold-color);
}

.section-03-content-info p {

    /* color: var(--grey-color); */
    font-weight: 300;
}

.section-03-content-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gold-color);
    width: 170px;
    font-family: 'CamptonLight', sans-serif;
    background-color: var(--gold-color);
    padding: 7px;
    color: white;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    gap: 20px;
}

.section-03-content-info button:hover {
    background-color: transparent;
    color: var(--grey-dark);
    scale: 105%;
}

.section-03-content-info .fa-arrow-right {

    color: white;
    padding: 2px 0px 0px 0px;
    margin: 0px;
}

.section-03-content-info button:hover .fa-arrow-right {
    color: var(--hover-color);
    /* Change this to the color you want on hover */
}

.section-03-icons {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* background-color: rgb(76, 115, 150); */
}

.section-03-icons-content {
    display: grid;
    margin: auto;
    width: 70%;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.icon-01,
.icon-02,
.icon-03,
.icon-04 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    background-color: var(--light-grey);
}

.icon-01 {
    border-radius: 50px 0px 50px 0px;
}

.icon-02 {
    border-radius: 0px 50px 0px 50px;
}

.icon-03 {
    border-radius: 0px 50px 0px 50px;
}

.icon-04 {
    border-radius: 50px 0px 50px 0px;
}

.icon-01 img,
.icon-02 img,
.icon-03 img,
.icon-04 img {
    width: 50px;
}

.icon-01 p,
.icon-02 p,
.icon-03 p,
.icon-04 p {
    text-align: center;
    margin: 30px 0px 0px 0px;
    font-weight: 300;
}

/* ========================= section-04 */

.section-04 {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    /* background-color: rgb(146, 72, 72); */
}

.section-04-container {
    margin: 0px auto 100px;
    background-color: var(--dark-grey);
}

.section-04-content {
    display: flex;
    width: 100%;
    height: 400px;
    margin: 0px auto;
}

.section-04-content-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 70px 40px;
    justify-content: space-between;
    /* background-color: white; */
}

.section-04-content-photo {
    width: 50%;
    height: 100%;
}

.section-04-content-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-04-content-info h1 {
    font-size: 50px;
    font-family: 'CamptonBook', sans-serif;
    color: var(--gold-color);
}

.section-04-content-info h2 {
    font-size: 15px;
    font-family: 'CamptonLight', sans-serif;
    color: var(--gold-color);
}

.section-04-content-info p {
    color: white;
}

.section-04-content-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gold-color);
    width: 170px;
    font-family: 'CamptonLight', sans-serif;
    background-color: var(--gold-color);
    padding: 7px;
    margin: 10px 0px 0px 0px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    gap: 20px;
}

.section-04-content-info button:hover {
    background-color: transparent;
    color: white;
    scale: 105%;
}

.section-04-content-info .fa-arrow-right {

    color: white;
    padding: 2px 0px 0px 0px;
    margin: 0px;
}

.section-04-content-info button:hover .fa-arrow-right {
    color: var(--hover-color);
    /* Change this to the color you want on hover */
}

/*================================= section-05 */

.section-05 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    /* background-color: rgb(214, 236, 255); */
}

.SwiperSlide {
    margin: 50px 0px 50px 0px;
    /* background-color: rgb(128, 196, 255); */
    overflow: hidden;

}

.Swiper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px auto 100px;
    /* background-color: aliceblue; */
    /* padding: 10px 0px 10px 0px; */
}

.photo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: grab;
    aspect-ratio: 1 / 1;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.097); */
    position: relative;
    border: 1px solid var(--gold-color);
}

.photo-item-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: -120px;
    width: 100%;
    height: 120px;
    background-color: rgba(255, 204, 128, 0.801);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.photo-item-info:hover {
    cursor: auto;
}

.photo-item:hover .photo-item-info {
    transform: translateY(-120px);
    backdrop-filter: blur(5px);
    opacity: 1;
}

.photo-item-info h1 {
    font-size: 22px;
    font-family: 'CamptonSemiBold', sans-serif;
    color: var(--dark-grey);
}

.photo-item-info p {
    font-size: 15px;
    font-weight: 300;
    margin: 0px 0px 10px 0px;
}

.photo-item-info-icons {
    display: flex;
    gap: 10px;
}

.fa-square-facebook,
.fa-square-instagram,
.fa-square-x-twitter,
.fa-square-whatsapp {
    font-size: 25px;
    color: var(--dark-grey);
    transition: 0.1s ease-in-out;
}

.fa-square-facebook:hover,
.fa-square-instagram:hover,
.fa-square-x-twitter:hover,
.fa-square-whatsapp:hover {
    rotate: 0deg;
    cursor: pointer;
    color: rgb(80, 80, 80);
}

.photo-item:active {
    cursor: grabbing;
}

.photo-item img {
    height: 100%;
    object-fit: cover;
}

.section-05-content-info {
    text-align: center;
}

.section-05-content-info h1 {
    font-size: 30px;
    font-family: 'CamptonBook', sans-serif;
    color: var(--gold-color);
}

.section-05-content-info h2 {
    font-size: 15px;
    font-family: 'CamptonLight', sans-serif;
    color: var(--gold-color);
    margin: 0px 0px 10px 0px;
}

/*================================= section-06 */

.section-06 {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.section-06-content {
    width: 100%;
    height: 100%;
    margin: 0px auto 100px auto;
    /* background-color: var(--dark-grey); */
}

.section-06-content-info {
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px 40px;
    justify-content: space-between;
}

.section-06-content-info h1 {
    font-size: 30px;
    font-family: 'CamptonBook', sans-serif;
    color: var(--gold-color);
}

.section-06-content-info h2 {
    font-size: 15px;
    font-family: 'CamptonLight', sans-serif;
    color: var(--gold-color);
}

.section-06-content-reviews {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0px auto;
    height: 100%;
    /* background-color: antiquewhite; */
    gap: 20px
}

.review-column-01,
.review-column-02,
.review-column-03 {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: rgb(255, 212, 157) */
}

.review-01,
.review-02,
.review-03,
.review-04,
.review-05,
.review-06 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;
    /* background-color: var(--dark-grey); */
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.097); */
    border: 1px solid var(--gold-color);
}

.review-01 {
    border-radius: 60px 0px 60px 0px;
}

.review-02 {
    border-radius: 0px 60px 0px 60px;
}

.review-03 {
    border-radius: 0px 60px 0px 60px;
}

.review-04 {
    border-radius: 60px 0px 60px 0px;
}

.review-05 {
    border-radius: 60px 0px 60px 0px;
}

.review-06 {
    border-radius: 0px 60px 0px 60px;
}

.review-description-section {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(219, 255, 243); */
    gap: 20px;
}

.review-description-section img {
    width: 120px;
    height: auto;
}

.review-description-section p {
    text-align: justify;
    text-align-last: left;
}

.review-client {
    display: flex;
    width: 100%;
    height: auto;
    gap: 18px;
    /* background-color: aliceblue; */
}

.client-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.client-info-stars {
    display: flex;
    width: 100%;
    height: auto;
    gap: 5px;
}

.client-info-stars .fa-star {
    font-size: 15px;
    color: rgb(255, 230, 0);
    margin: 0px;
}

.client-info-name h1 {
    font-family: 'CamptonLight', sans-serif;
    font-size: 18px;
}

.client-photo img {
    border-radius: 50%;
    width: 75px;
    height: auto;
}

/*================================= Submit Review */

.submit-review {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 100px 0px 100px 0px;
    background-color: var(--light-grey);
    margin: 100px auto 0px auto;
    align-items: center;
    gap: 20px;
}

.submit-review h1 {
    font-size: 35px;
    font-family: 'CamptonLight', sans-serif;
    color: var(--gold-color);
    /* background-color: aqua; */
}

.submit-review-stars {
    display: flex;
    width: 30%;
    height: auto;
    margin: 0px auto;
    /* background-color: aquamarine; */
}

.submit-review-stars .fa-star {
    display: flex;
    font-size: 30px;
    margin: 0px auto;
    cursor: pointer;
    scale: 200%;
    /* background-color: rgb(81, 194, 156); */
}

.submit-review-input {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 40px;
    /* background-color: aqua; */
}

.submit-review-input input {
    width: 600px;
    height: auto;
    padding: 20px 24px;
    border: 1px solid white;
    background-color: white;
    font-family: 'CamptonLight', sans-serif;
    outline: none;
    resize: vertical;
    scrollbar-width: none;
    color: var(--dark-grey);
}

.submit-review-input textarea {
    width: 600px;
    min-height: 200px;
    padding: 20px 24px;
    border: 1px solid white;
    background-color: white;
    font-family: 'CamptonLight', sans-serif;
    outline: none;
    resize: vertical;
    scrollbar-width: none;
    color: var(--dark-grey);
}

.submit-review-input input::placeholder,
.submit-review-input textarea::placeholder {
    color: rgb(146, 146, 146);
    background-color: transparent;
}

.submit-review-input input:focus,
.submit-review-input textarea:focus {
    /* outline: none; */
}

.submit-review-input button {
    border: 1px solid var(--gold-color);
    font-size: 15px;
    font-family: 'CamptonLight', sans-serif;
    width: 12vw;
    padding: 8px;
    color: white;
    background-color: var(--gold-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.submit-review-input button:hover {
    background-color: transparent;
    color: var(--dark-grey);
    transform: scale(1.05);
}

input[type="radio"] {
    display: none;
}

.submit-review-stars {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.star {
    cursor: pointer;
    transition: color 200ms;
    /* background-color: aqua; */
    font-size: 40px;
}

@media (min-width: 1200px) and (max-width: 1400px) {

    /*=================================  section 2 */

    .section-02-content-info {
        padding: 100px 40px;
    }

    /*================================= section 03 */

    .section-03-icons-content {
        width: 80%;
    }

    .section-03-content-info {
        padding: 180px 70px;
        /* background-color: aliceblue; */
    }

    .section-03-content-info h1 {
        font-size: 40px;
    }

    /*=================================  section 3 */

    .section-03-content-info {
        padding: 200px 70px;
        /* background-color: aliceblue; */
    }

    .section-03-content-info h1 {
        font-size: 45px;
    }

    /*================================= section-05 */

    .photo-item-info {
        height: 120px;
    }

    .fa-square-facebook,
    .fa-square-instagram,
    .fa-square-x-twitter,
    .fa-square-whatsapp {
        font-size: 25px;
    }
}

/*======================================================================= */

@media (min-width: 1000px) and (max-width: 1200px) {

    /*================================= section 2 */

    .section-02-content-info {
        padding: 100px 40px;
    }

    /*================================= section 03 */

    .section-03-icons-content {
        width: 80%;
    }

    .section-03-content-info {
        padding: 180px 70px;
        /* background-color: aliceblue; */
    }

    .section-03-content-info h1 {
        font-size: 40px;
    }

    /*=================================  section 4 */

    .section-04-content {
        height: 500px;
    }

    .section-04-content-info h1 {
        font-size: 40px;
    }

    /*================================= section-05 */

    .photo-item-info {
        height: 110px;
    }

    .fa-square-facebook,
    .fa-square-instagram,
    .fa-square-x-twitter,
    .fa-square-whatsapp {
        font-size: 25px;
    }

    /*================================= section 06 */

    .review-description-section p {
        font-size: 18px;
        /* background-color: aquamarine; */
    }

    .review-01,
    .review-02,
    .review-03,
    .review-04,
    .review-05,
    .review-06 {
        padding: 40px;
    }

    .review-client {
        margin: 10px 0px 0px 0px;
    }

    .section-06-content-info {
        padding: 0px 40px;
    }

    .section-06-content-info h1 {
        font-size: 30px;
        margin: 0px 0px 60px 0px;
    }

    .section-06-content-reviews {
        flex-direction: column;

    }

    .review-column-01,
    .review-column-02,
    .review-column-03 {
        width: 70%;
        margin: 0px auto;
    }

    .submit-review-input button {
        width: 20vw;
    }

}

/*======================================================================= */

@media (min-width: 800px) and (max-width: 1000px) {

    /*=================================  section 2 */

    .section-02-content {
        flex-direction: column;
        margin: 0px auto;
    }

    .section-02-content-photo {
        width: 100%;
    }

    .section-02-content-info {

        width: 100%;
        padding: 70px 40px;
        gap: 20px;
        /* background-color: rgb(255, 147, 147); */
    }

    .section-02-content {
        height: 100%;
    }

    .section-02-content-info h1 {
        font-size: 40px;
    }

    /*================================= section 3 */

    .section-03-content {
        flex-direction: column;
        height: 100%;
        /* background-color: antiquewhite; */
    }

    .section-03-content-info {
        width: 100%;
        padding: 100px 40px 40px 40px;
        gap: 20px;
        text-align: center;
        align-items: center;
        /* background-color: antiquewhite; */
    }

    .section-03-content-info h1 {
        font-size: 30px;
    }

    .section-03-content-info p {
        text-align: justify;
        text-align-last: center;
        width: 80%;
    }

    .section-03-content-info button {
        margin: 10px 0px 40px 0px;
    }

    .section-03-icons {
        width: 100%;
        height: 100%;
        margin: 0px 0px 100px 0px;
        /* background-color: rgb(76, 115, 150); */
    }

    .icon-01 img,
    .icon-02 img,
    .icon-03 img,
    .icon-04 img {
        width: 70px;
    }

    .icon-01 p,
    .icon-02 p,
    .icon-03 p,
    .icon-04 p {
        margin: 25px 0px 0px 0px;
    }

    .icon-02 {
        border-radius: 0px 25px 0px 25px;
    }

    .icon-03 {
        border-radius: 0px 25px 0px 25px;
    }

    .icon-04 {
        border-radius: 25px 0px 25px 0px;
    }

    /*================================= section 4 */

    .section-04-content {
        height: 500px;
        
    }

    .section-04-content-info h1 {
        font-size: 40px;
    }

    /*================================= section-05 */

    .photo-item-info {
        height: 110px;

    }

    /*================================= section 6 */

    .review-description-section p {
        font-size: 18px;
        /* background-color: aquamarine; */
    }

    .review-01,
    .review-02,
    .review-03,
    .review-04,
    .review-05,
    .review-06 {
        padding: 40px;
    }

    .review-client {
        margin: 10px 0px 0px 0px;
    }

    .section-06-content-info {
        padding: 0px 40px;
    }

    .section-06-content-info h1 {
        font-size: 30px;
        margin: 0px 0px 60px 0px;
    }

    .section-06-content-reviews {
        flex-direction: column;

    }

    .review-column-01,
    .review-column-02,
    .review-column-03 {
        width: 80%;
        margin: 0px auto;
    }

     /*================================= Submit Review */

    .submit-review-input button {
        width: 20vw;
    }
}

/*======================================================================= */

@media (min-width: 650px) and (max-width: 800px) {

    /*================================= section-05 */

    .photo-item-info {
        height: 110px;
    }

    /*================================= section 6 */

    .review-description-section p {
        font-size: 18px;
    }

    .review-01,
    .review-02,
    .review-03,
    .review-04,
    .review-05,
    .review-06 {
        padding: 40px;
    }

    .section-06-content-info {
        padding: 0px 40px;
    }

    .section-06-content-info h1 {
        font-size: 30px;
        margin: 0px 0px 60px 0px;
    }

    .section-06-content-reviews {
        flex-direction: column;

    }

    .review-column-01,
    .review-column-02,
    .review-column-03 {
        width: 90%;
        margin: 0px auto;
    }

}

/*======================================================================= */

@media(max-width: 750px) {

    /*================================= section 1 */
    .banner-info p {
        width: 80%;
    }

    /*================================= section 2 */

    .section-02-content {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 700px;
        margin: 0px auto;
        /* background-color: aliceblue; */
        /* background-color: rgb(209, 176, 133); */
        /* gap: 20px; */
    }

    .section-02-content-photo {
        width: 100%;
        height: 100%;
    }

    .section-02-content-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 70px 40px;
        gap: 20px;
        /* background-color: rgb(255, 147, 147); */
    }

    .section-02-content {
        display: flex;
        width: 80%;
        height: 100%;
        margin: 0px auto;
        /* background-color: rgb(209, 176, 133); */
        /* gap: 20px; */
    }

    .section-02-content-info h1 {
        font-size: 30px;
        font-weight: 400;
        color: var(--gold-color);
    }

    /*================================= Section 3 */

    .section-03 {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0px auto;
        /* background-color: rgb(146, 72, 72); */
    }

    .section-03-content {
        flex-direction: column;
        width: 100%;
        height: 100%;
        /* background-color: antiquewhite; */
    }

    .section-03-content-info {
        width: 100%;
        padding: 100px 40px 40px 40px;
        gap: 20px;
        text-align: center;
        align-items: center;
        /* background-color: antiquewhite; */
    }

    .section-03-content-info h1 {
        font-size: 30px;
    }

    .section-03-content-info p {
        text-align: justify;
        text-align-last: center;
        width: 100%;
    }

    .section-03-content-info button {
        margin: 10px 0px 40px 0px;
    }

    .section-03-icons {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0px 0px 100px 0px;
        /* background-color: rgb(76, 115, 150); */
    }

    .section-03-icons-content {
        display: grid;
        margin: auto;
        width: 70%;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        /* background-color: aqua; */
    }

    .icon-01 img,
    .icon-02 img,
    .icon-03 img,
    .icon-04 img {
        width: 40px;
    }

    .icon-01 p,
    .icon-02 p,
    .icon-03 p,
    .icon-04 p {
        text-align: center;
        margin: 17px 0px 0px 0px;
        font-weight: 300;
    }

    .icon-01 {
        border-radius: 25px 0px 25px 0px;
        margin: 0px;
        padding: 0px;
    }

    .icon-02 {
        border-radius: 0px 25px 0px 25px;
    }

    .icon-03 {
        border-radius: 0px 25px 0px 25px;
    }

    .icon-04 {
        border-radius: 25px 0px 25px 0px;
    }

    /*================================= section-04 */

    .section-04-content {
        flex-direction: column;
        height: 100%;
    }

    .section-04-content-info {
        width: 100%;
        padding: 40px 40px;
        gap: 30px;
    }

    .section-04-content-photo {
        width: 100%;
    }

    .section-04-content-info h1 {
        font-size: 30px;
    }

    /*================================= section-05 */

    .photo-item-info {
        height: 80px;
    }

    .photo-item-info:hover {
        cursor: auto;
    }


    .photo-item-info h1 {
        font-size: 18px;
    }

    .photo-item-info p {
        font-size: 12px;
        margin: 0px 0px 5px 0px;
    }


    .section-05-content-info h1 {
        margin: 0px auto;
        width: 70%;
    }

    .fa-square-facebook,
    .fa-square-instagram,
    .fa-square-x-twitter,
    .fa-square-whatsapp {
        font-size: 20px;
    }

    /*================================= section-06 */

    .section-06-content-info {
        padding: 0px 40px;
    }

    .section-06-content-info h1 {
        font-size: 30px;
        margin: 0px 0px 60px 0px;
    }

    .section-06-content-reviews {
        flex-direction: column;
    }

    .review-column-01,
    .review-column-02,
    .review-column-03 {
        width: 100%;
    }

    /*================================= Submit Review */

    .submit-review h1 {
        font-size: 30px;
    }

    .submit-review-input input {
        width: 400px;
    }

    .submit-review-input textarea {
        width: 400px;
    }

    .submit-review-input button {
        width: 32vw;
    }
}