/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close"; */

* {
    padding: 0;
    margin: 0;
    font-family: Lato;
    font-size: 15px;
    box-sizing: border-box;
    --gold-color: rgb(196, 154, 93);
    --black-color-transparency: rgba(0, 0, 0, 0.849);
    --light-grey: rgba(247, 247, 247);
    --grey-color: rgba(117, 117, 117);
    --dark-grey: rgb(31, 31, 31);
}

body {
    min-height: 100vh;
}

a {
    color: var(--dark-grey);
    text-decoration: none;
    color: inherit;
}

p {
    color: var(--dark-grey);
    /* font-weight: 400; */
    font-size: 15px;
}

h1,
h2 {
    color: var(--dark-grey);
}