.navbar-top {
    background-color: antiquewhite;
}

.navbar-sections-top {
    width: 90%;
    margin: auto;
    display: flex;
    /* padding: 15px; */
    justify-content: space-between;
    align-items: center;
}

/* ==================================== Navbar left */
.navbar-left {
    display: flex;
}

.credit-card {
    display: flex;
    margin: 0px 40px 0px 0px;
    align-items: center;
}

.credit-card p {
    cursor: pointer;
}

.fa-credit-card,
.terms-conditions .fa-circle-check {
    margin: 2px 10px 0px 0px;
    cursor: pointer;
    color: var(--dark-grey);
}

.languages {
    display: flex;
    gap: 20px;
}

.languages p {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.fa-envelope,
.review .fa-star {
    margin:0px 10px 0px 0px;
    cursor: pointer;
    color: var(--dark-grey);
}

.bookings,
.review,
.terms-conditions {
    display: flex;
    align-items: center;
    margin: 0px 40px 0px 0px;
    cursor: pointer;
}

.login {
    display: flex;
    background-color: var(--gold-color);
    width: 250px;
    height: 100%;
    color: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.login-info {
    font-weight: 300;
}

.login-info p {
    color: white;
}

.login-info .login-text {
    font-weight: 700;
}

.fa-user {
    font-size: 30px;
    padding: 2px 15px 0px 0px;
    cursor: pointer;
}

@media (max-width:1200px) {

    .bookings,
    .review,
    .terms-conditions,
    .languages,

    .credit-card {
        display: flex;
        align-items: center;
        margin: 0px 15px 0px 0px;
        cursor: pointer;
    }

    .login {
        display: flex;
        width: 150px;
    }
}

@media (max-width:970px) {

    /* ============================ NavbarTop */
    .credit-card p {
        display: none;
    }

    .fa-credit-card {
        font-size: 18px;
    }

    .terms-conditions p {
        display: none;
    }

    .fa-circle-check {
        font-size: 18px;
    }

    .languages p {
        font-size: 18px;
    }

    .bookings p {
        display: none;
    }

    .fa-envelope {
        font-size: 18px;
    }

    .review p {
        display: none;
    }

    /* ============================ NavbarBottom */
}

@media (max-width:750px) {

    /* ============================ NavbarTop */
    .fa-envelope,
    .credit-card,
    .fa-star,
    .review,
    .bookings,
    .terms-conditions {
        margin: 0px 15px 0px 0px;
    }

    .languages {
        display: none;
    }

    .login {
        margin: 0px 0px 0px auto;
        width: 150px;
    }

    .navbar-sections-top {
        justify-content: start;
    }

    .navbar-right {
        width: 90%;
    }

    /* ============================ NavbarBottom */
}